/************************************************************/
/*  Loadding Page                                           */
/************************************************************/
html {
    overflow: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../layout/loadscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: 0;
    animation: panDown 5s linear ;
    position: relative;
    display: flex;
    align-items: center;
}

svg {
    max-width: unset;
}


@keyframes panDown {
    0% {background-position: center bottom;}
    100% {background-position: center top;}
}

.titlecard-container {
    width: 30%;
    padding: 180px 80px;
    color: #CE5252;
    font-family: 'Stardew Valley';
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: center;    
    overflow: hidden ;
    margin: 0 auto;
    background: url('../layout/titleCard.png') no-repeat center;
    background-size: contain;
    transform: translateY(-100%);
    animation: imageSlideIn 5s ease-out forwards;
}

@keyframes imageSlideIn {
    to { transform: translateY(0);}
}

.btn {
    padding: 15px 15px;
    margin: 20px 20px;
    cursor: pointer;
}


.icons {
    width: 100%;
    padding: 0 20%;
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons svg {
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

@media screen and (max-width: 786px) {   
    
    body {
        overflow: hidden;
        display: flex;
    }
    
    .titlecard-container {
        width: 100%;
        padding: 4ch;
        animation: none;
    }
    
    .icons {
        bottom: unset;
        display: block;
    }

}
